<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= desc %></p>
<% blogs.forEach(function myfunction(item) { %>
<h1><%= item.newTitle %></h1>
<p><%= item.newBlog.substring(0, 100) + " ..." %><a href="/posts/<%= item.newTitle %>">Read More</a></p>
<% }); %>
<form action="/" method="post">
 <button type="submit" name="newBlog" class="btn btn-primary compose">Compose</button>
</form>

<%- include("partials/footer"); -%>
